@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Alegreya;
}



p {
  color: white;
}

/* Navigaatiopalkki */
nav {
  background: linear-gradient(
    75deg,
    rgb(5, 4, 3) 10%,
    rgb(105, 80, 26) 30%,
    rgb(26, 26, 34) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  width: 100%;
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  width: 30%;
}

.nav-links li {
  list-style: none;
}
.logo {
  color: white;
  font-size: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.burger {
  display: none;
}

/* NAVIGAATIOPALKKI LOPPUU */

/*KUVA SLIDER*/
.slider-container {
    display:flex;
    background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );
  border: 5px solid rgb(38, 53, 42);
  
  border-radius: 10px;

    
    justify-content: center;
    flex-direction: column;
}
img {
  width: 400px;
  
}
.siirra-container {
  position: absolute;
  left: -200px;
  top: -240px;
  
}

.suurenna {
  
  
  width: 700px;
  
  
}

.hidden {
  display:none;
}
.hidden2 {
  display:none;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(126, 124, 124);
  filter: blur(8px);
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;

}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:white;

  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
 

  /*Photoshop*/
  .photoshopt {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      align-items:center;
      margin-bottom: 40px;
      font-size: 29px;
      
      width: 100%;
      
  }
  

/*FOOTER */

footer {
    background-color: rgb(29, 28, 28);
    border: 5px solid rgb(38, 53, 42);
    border-radius: 10px;
  }
  
  #footer-container {
    width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }
  
  .footer-right-text h3 {
    color: rgb(226, 181, 58);
    margin-bottom: 30px;
  }
  .footer-right-text li {
    list-style: none;
  }
  .footer-right-text a {
    text-decoration: none;
    color: white;
  }
  
  .footer-left-text h3 {
    color: rgb(226, 181, 58);
    margin-bottom: 30px;
  }
  .footer-left-text li {
    list-style: none;
  }
  .footer-left-text a {
    text-decoration: none;
    color: white;
  }

  


@media screen and (max-width: 600px) {
    /* NAVIGAATIO PALKKI */
    .nav-links {
      position: absolute;
      background: linear-gradient(
        75deg,
        rgb(5, 4, 3) 10%,
        rgb(105, 80, 26) 30%,
        rgb(26, 26, 34) 100%
      );
      height: 520px;
      width: 100%;
      bottom: 918px;
      right: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(2%);
      transition: transform 0.5s ease-in;
      z-index: 9;
    }
  
    .burger {
      display: block;
      z-index: 10;
    }
  
    .burger div {
      width: 39px;
      height: 6px;
      margin: 5px;
      background-color: white;
    }
  
    .logo {
      font-size: 20px;
    }
  
    .nav-links a {
      font-size: 18px;
    }
  
    .nav-links li {
      margin-bottom: 30px;
    }
  
    .nav-active {
      transform: translateY(141%);
    }
  
    /* NAVIGAATIOPALKKI LOPPUU */

    /*slider*/
    

    .slider-container {
        flex-direction: column;
        
        
        

    }

    .slider {
        width: 99%;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 300px;
        
        
    }

    .slide {
        
        
    }

    .slide img {
        width: 100%;
        height: 300px;
        
    }
    .manual-btn {
        border: 1px solid #40d3dc;
        margin-bottom: 50px;
        
    }

    .navigation-manual {
        position: relative;
        display: flex;
        align-items: center;
        
        justify-content: center;
        width: 100%;
        
    }

    .photoshopt {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }