@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Cinzel+Decorative&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cinzel Decorative;
}

p {
  color: white;
}

/* Navigaatiopalkki */
nav {
  background: linear-gradient(
    75deg,
    rgb(5, 4, 3) 10%,
    rgb(105, 80, 26) 30%,
    rgb(26, 26, 34) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  width: 100%;
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  width: 30%;
}

.nav-links li {
  list-style: none;
}
.logo {
  color: white;
  font-size: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.burger {
  display: none;
}

/* NAVIGAATIOPALKKI LOPPUU */

/* MAIN CONTAINER */

#first-container {
  background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );

  display: flex;
  flex-direction: row;
  width: 100%;
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
}

/* LEFT CONTAINER SISÄLTÄEN KUVA */
#left-container {
  width: 70%;
}

.kuva1 {
  width: 100%;
}

/* RIGHT CONTAINERN */
#right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-box {
  width: 80%;
  margin-bottom: 100px;
}
.top-box h1 {
  margin-bottom: 20px;
  color: rgb(226, 181, 58);
}

.bottom-box {
  width: 80%;
}
.bottom-box h2 {
  margin-bottom: 20px;
  color: rgb(226, 181, 58);
}
#line1 {
  background: linear-gradient(
    140deg,
    rgb(226, 181, 58) 20%,
    rgb(171, 196, 103) 40%,
    rgb(80, 97, 77) 70%
  );
  width: 90%;
  height: 10px;

  margin-top: 100px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
}

/* SECOND CONTAINER */

.second-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
  align-items: center;
}

.second-left-container {
  width: 40%;
  margin-left: 100px;
}
.second-left-container h1 {
  margin-bottom: 30px;
  color: rgb(226, 181, 58);
}

.second-right-container {
  width: 60%;
}

.kuva2 {
  width: 100%;
}

/*FOOTER */

footer {
  background-color: rgb(29, 28, 28);
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
}

#footer-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.footer-right-text h3 {
  color: rgb(226, 181, 58);
  margin-bottom: 30px;
}
.footer-right-text li {
  list-style: none;
}
.footer-right-text a {
  text-decoration: none;
  color: white;
}

.footer-left-text h3 {
  color: rgb(226, 181, 58);
  margin-bottom: 30px;
}
.footer-left-text li {
  list-style: none;
}
.footer-left-text a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  /* NAVIGAATIO PALKKI */
  .nav-links {
    position: absolute;
    background: linear-gradient(
      75deg,
      rgb(5, 4, 3) 10%,
      rgb(105, 80, 26) 30%,
      rgb(26, 26, 34) 100%
    );
    height: 520px;
    width: 100%;
    bottom: 918px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(2%);
    transition: transform 0.5s ease-in;
    z-index: 9;
  }

  .burger {
    display: block;
    z-index: 10;
  }

  .burger div {
    width: 39px;
    height: 6px;
    margin: 5px;
    background-color: white;
  }

  .logo {
    font-size: 30px;
  }

  .nav-links a {
    font-size: 18px;
  }

  .nav-links li {
    margin-bottom: 30px;
  }

  .nav-active {
    transform: translateY(141%);
  }

  /* NAVIGAATIOPALKKI LOPPUU */

  /* FIRST CONTAINER */

  #first-container {
    background: none;
  }
  .background {
    background-image: url(kuvat/tämä7.png);
    /*
    background-color: rgb(239, 245, 241);
    */
    background-position: 80% 100%;
    background-size: 190%;
    background-repeat: no-repeat;
  }

  p {
    color: rgb(252, 209, 18);
  }

  .kuva1 {
    display: none;
  }

  .top-box {
    margin-top: 40px;
    z-index: 8;
  }
  .top-box p {
    color: black;
    font-weight: 800;
  }

  .bottom-box {
    margin-bottom: 80px;
    margin-left: 100px;
  }
  .bottom-box h2 {
    color: rgb(146, 127, 45);
  }
  .bottom-box p {
    background: linear-gradient(
      to right,
      rgb(12, 10, 3) 40%,
      rgb(75, 63, 13) 90%
    );

    -webkit-text-fill-color: transparent;
    font-weight: 800;
    width: 50%;
    margin-left: 130px;
  }

  #line1 {
    display: none;
  }

  /* SECOND CONTAINER */

  .second-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-left-container {
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .second-left-container p {
    color: white;
  }
  .second-right-container {
    margin: 0;
    width: 100%;
  }

  .kuva2 {
    margin: 0;
  }
}
