@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Alegreya;
}

p {
  color: white;
}

/* Navigaatiopalkki */
nav {
  background: linear-gradient(
    75deg,
    rgb(5, 4, 3) 10%,
    rgb(105, 80, 26) 30%,
    rgb(26, 26, 34) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  width: 100%;
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  width: 30%;
}

.nav-links li {
  list-style: none;
}
.logo {
  color: white;
  font-size: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.nav-links a:hover {
  text-shadow: 20px 20px 10px black;
}

.burger {
  display: none;
}

/* NAVIGAATIOPALKKI LOPPUU */

/*YHTEYS TOP CONTAINER */

.yhteys-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
  background: linear-gradient(
    75deg,
    rgb(0, 0, 0) 1%,
    rgb(107, 124, 108) 60%,
    rgb(10, 10, 10) 110%
  );
}

.yhteys-left-container {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.yhteys-right-container img {
  width: 500px;
}
.vasen-content {
  margin: 30px 10px;
  width: 80%;
}

.vasen-content h1 {
  color: rgb(226, 181, 58);
}
.vasen-content p {
  width: 50%;
  font-size: 20px;
}
.oikea-content p {
  width: 50%;
}

.oikea-content {
  margin: 30px 10px;
  width: 80%;
}

.oikea-content h1 {
  color: rgb(226, 181, 58);
}

/* FOOTER */
footer {
  background-color: rgb(29, 28, 28);
  border: 5px solid rgb(38, 53, 42);
  border-radius: 10px;
}

#footer-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.footer-right-text h3 {
  color: rgb(226, 181, 58);
  margin-bottom: 30px;
}
.footer-right-text li {
  list-style: none;
}
.footer-right-text a {
  text-decoration: none;
  color: white;
}

.footer-left-text h3 {
  color: rgb(226, 181, 58);
  margin-bottom: 30px;
}
.footer-left-text li {
  list-style: none;
}
.footer-left-text a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  /* NAVIGAATIO PALKKI */
  .nav-links {
    position: absolute;
    background: linear-gradient(
      75deg,
      rgb(5, 4, 3) 10%,
      rgb(105, 80, 26) 30%,
      rgb(26, 26, 34) 100%
    );
    height: 520px;
    width: 100%;
    bottom: 918px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(2%);
    transition: transform 0.5s ease-in;
    z-index: 9;
  }

  .burger {
    display: block;
    z-index: 10;
  }

  .burger div {
    width: 39px;
    height: 6px;
    margin: 5px;
    background-color: white;
  }

  .logo {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 18px;
  }

  .nav-links li {
    margin-bottom: 30px;
  }

  .nav-active {
    transform: translateY(141%);
  }

  /*TOP CONTAINER*/
  .yhteys-top-container {
    flex-direction: column;
  }
  .yhteys-top-container h1 {
    font-size: 30px;
  }
  .yhteys-top-container p {
    font-size: 15px;
    width: 80%;
  }

  .yhteys-left-container {
    width: 100%;
  }

  .vasen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .vasen-content p {
    font-size: 25px;
  }
  .vasen-content h1 {
    width: 80%;
  }
  .oikea-content h1 {
    width: 80%;
  }

  .oikea-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*FORM LOMAKE*/

  .yhteys-middle-container {
    padding: 0;
    margin: 0;
  }

  .yhteys-middle-container form {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
